node_modules
dist
playwright-report
test-results
*.tsbuildinfo
vite.config.js
vite.config.d.ts
vitest.config.js
vitest.config.d.ts
playwright.config.js
playwright.config.d.ts
.DS_Store
data/source-cache
